@{
    ViewBag.Title = "Home CervezUA Admin";
}

<div class="jumbotron">
    <h1>Administración</h1>
    <p class="lead">Bienvenido, aqui podrás consultar, crear, modificar y eliminar los distintos elementos del la base de datos.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Usuarios</h2>
        <p><a class="btn btn-default" href="../Usuario">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Cervezas</h2>
        <p><a class="btn btn-default" href="../Cerveza">Acceder &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Copas</h2>
        <p><a class="btn btn-default" href="../Copa">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Pedidos</h2>
        <p><a class="btn btn-default" href="../Pedido">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Valoraciones</h2>
        <p><a class="btn btn-default" href="../Valoracion">Learn more &raquo;</a></p>
    </div>
</div>