@model CervezUAWeb.Models.AdministradorViewModel

@{
    ViewBag.Title = "Panel";
}

<h2>Panel de Administración</h2>

<div class="container" style="margin: auto; text-align:center;">
    <button type="button" class="btn btn-primary" onclick="location.href='/Usuario/Index';" style="margin: 1em; background-color:#FF6D3A;">Añadir Administradores</button><br />
    <button type="button" class="btn btn-primary" onclick="location.href='/Cerveza/Create';" style="margin: 1em; background-color:#FF6D3A;">Añadir Cervezas</button><br />
    <button type="button" class="btn btn-primary" onclick="location.href='/Administrador/Panel';" style="margin: 1em; background-color:#FF6D3A;">Añadir Crítico</button><br />
    <button type="button" class="btn btn-primary" onclick="location.href='/Administrador/Panel';" style="margin: 1em; background-color:#FF6D3A;">Modificar Estado Pedido</button><br />
</div>

