@model CervezUAWeb.Models.AdministradorViewModel

@{
    ViewBag.Title = "Panel";
}

<h2>Panel de Administración</h2>
<div class="container" style="margin: auto; text-align:center;">


    <button type="button" class="btn btn-primary" onclick="location.href='/Usuario/Index';" style="margin: 1em; background-color:#FF6D3A;">Gestionar Usuarios</button><br />
    <button type="button" class="btn btn-primary" onclick="location.href='/Cerveza/Create';" style="margin: 1em; background-color:#FF6D3A;">Añadir Cervezas</button><br />
    <button type="button" class="btn btn-primary" onclick="location.href='/Pedido/Admin';" style="margin: 1em; background-color:#FF6D3A;">Modificar Estado Pedido</button><br />
    <button type="button" class="btn btn-primary" onclick="location.href='/Valoracion/Admin';" style="margin: 1em; background-color:#FF6D3A;">Moderar Opiniones</button><br />

</div>

